@import "./assets/styles/mixin";

.header {
  min-height: s(126);
  padding: s(30) s(315);
  background-color: var(--black);
  @include mobile {
    @include flex-50-50;
    padding: s-md(15);
  }
}

.logo {
  text-transform: uppercase;
  font-size: s(64);
  font-weight: 400;
  color: var(--white);
  @include transition(color);
  &:hover,
  &:active,
  &:focus {
    color: var(--grey-dark);
  }
}
